
@{
    ViewBag.Title = "Home";
}

<h2>Login</h2>

<form method="post" action="/ChatApp/Home/Rooms">
    <table>
        <tr>
            <td><p>Login</p></td>
            <td><input class="form-control" type="text" name="nickname" /> </td>
        </tr>
        <tr>
            <td><p>Password</p></td>
            <td><input class="form-control" type="password" name="password" /> </td>
        </tr>
        <tr>
            <td><input class="btn btn-primary" type="submit" value="Login" /> </td>
            <td></td>
        </tr>
    </table>
</form>